:root{
    --bg-color: #b09c7a;
    --bold-color: #635844;
    --clear-color: #fcdfaf;
}

body{
    background: #b09c7a;
}

.form-all{
    color: black;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    vertical-align: bottom;
}

.form-row2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.form-row2 label{
    width: 30%;
    margin-right: 10px;
    height: 30px;
    text-align: end;
    line-height: 40px;
}
.form-row2 input[type=date]{
    height: 30px;
    font-size: 20px;
    text-align: center;
}
.form-row2 select{
    width: 10%;
    text-align: center;
    height: 30px;
    font-size: 20px;
    background-color: white;
}
th{
    background-color: var(--bold-color);
    color: white;
    height: 40px;

}
th, td{
    border-color: black;
    text-align: center;
    font-family: 'Montserrat';
}
td{
    font-size: 12px;
    border-color: black;
    height: 25px;
}
tr:hover {
    background-color: var(--clear-color);
}
a{
    color: var(--bold-color);
    text-decoration: none;
    border-color: black;
    cursor: default;
}

.choose{
    display: flex;
    margin-right: 70px;
    margin-left: auto;
    max-width: 50px;
    margin-bottom: 30px;
} 
/* toggle in label designing */
.toggle {
    display : flex;
    width : 50px;
    height : 18px;
    background-color: var(--clear-color);
    border-radius: 0px;
    border: 2px solid black;
    rotate: 90deg;
}              
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 16px;
    border-radius: 0;
    background-color: black;
    bottom: 1px; 
    left: 1px;
    transition:  all 0.5s;
}
      
/* Toggle text */
p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    rotate: -90deg;
    margin-left: 10px;
    margin-top: -80px;
}  
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 24px; 
}              
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: lightblue;
}              
/* Checkbox vanished */
.checkbox { 
    display : none;
}
.topper{
    display: grid;
    background-color: var(--bold-color);
    height: 80px;
    width: 110%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    align-self: center;
    justify-self: center;
    gap: 0;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: -5%;
    color: white;
}
